body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
p{
    color: #707070;
}

.first-text-position {
    text-align: center;
    padding-top: 9%;

}

.first-section {
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}

#headline {
    color: white;
    font-size: 50px;
    width: 50%;
    padding-left: 25%;

}

#first-pera {
    color: white;
    width: 50%;
    padding-left: 25%;
    padding-bottom: 30px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5%;
    color: white;

}

.sceond-text-positon {
    text-align: center;
    padding-left: 2px;
   
}

.second-pera {
    width: 50%;
    padding-left: 25%;
}

.section-two {
    margin-bottom: 5%;
    text-align: center;
}

.donation-amount {
    display: flex;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 3%;

}

.amount {
    box-sizing: border-box;
    border: 2px solid #FFEEEE;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
    color: #707070;
}

.amount-color {
    color: #FF5959;
    border: 4px solid #FF5959;
    background: #FFEEEE;
}

#other-amount {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
}

.cetagory {
    display: flex;
    justify-content: space-a;
    padding-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;

}

#food-box {
    box-sizing: border-box;
    border: 1px solid #FFEEEE;
    background: #4f9da621;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
}

#education-box {
    box-sizing: border-box;
    border: 1px solid #FFEEEE;
    background: #FFF4D6;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-right: 30px;
    margin-right: 5%;

}

#shelter-box {
    box-sizing: border-box;
    border: 1px solid #FFEEEE;
    background: #ff595928;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
}

.section-four {
    display: flex;
    padding-bottom: 5%;
}

.section-four-position {
    width: 50%;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 8%;
}

.section-four-position>p {
    color: #707070;
}

.section-four-position>h1 {
    color: black;
    font-size: 40px;
}

.input-form {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #FFEEEE;
    background: #ff595928;
    border-radius: 5px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 8%;
}

input-form {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: black;
    border: 1px solid black;
    color: #FF5959;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'The Nautigal', cursive;
}

#input-box {
    color: #FFF4D6;
    border: none;
    outline: none;
    padding: 10px 100px 10px 10px;
    border-radius: 5px;
    background-color: #7070701a;

}

#button {
    text-align: center;
    color: #FFEEEE;
    border: none;
    outline: none;
    padding: 10px 30px 10px 5px;
    margin: -8px;
    background-color: #FF5959;
    border-radius: 0px 5px 5px 0px;
}
.data-information{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 8%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: #4f9da600 5px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 60px #ff595986;

}
.Data-Area{
    display: flex;
    justify-content: space-between;  
}